<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li class="items" id="item-2"><a href="/index">Home</a></li>
            <li class="items" id="item-3"><a href="/create">Create Your Blog</a></li>
            <li class="items" id="item-4"><a href="/update">Update and Delete Your Blogs</a></li>
        </ul>
    </nav>
    <div class="main">
        <div class="right">
            <div class="heading">
                <h1 id="heading">The Heaven for Bloggers</h1>
            </div>

            <div class="heading-content">
                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quaerat ratione
                    dolores tempore harum itaque. Animi assumenda libero non architecto ipsam tenetur est eos, quas at
                    nam, placeat id excepturi.
                    Aspernatur, provident neque illum officiis quidem similique, dolorum vel ullam assumenda quibusdam
                    suscipit repellat cum mollitia consectetur inventore earum nam eaque iure incidunt! Quos alias vel
                    soluta et natus quae!
                    In hic eaque veniam vero atque, suscipit laboriosam quidem at soluta, eligendi recusandae similique
                    animi est eius consectetur veritatis neque quam pariatur iure cumque alias necessitatibus labore
                    rem? Illo, quaerat!
                    Adipisci, maxime saepe! Soluta modi, quo debitis sequi accusantium dolores eum, accusamus, obcaecati
                    quibusdam cumque at ullam ea voluptates! Nostrum fuga quibusdam impedit dolorum, est itaque! Quo
                    delectus eveniet sequi?
                    Eos, a ab voluptate eveniet obcaecati repellat consequuntur facilis porro esse quis illum sapiente
                    reprehenderit soluta, laborum numquam quaerat quas? Asperiores delectus quibusdam velit, excepturi
                    assumenda voluptas soluta quos debitis?</p>
            </div>

        </div>
        <div class="left">
            <img class="typewriter" src="/images/typewriter.png" alt="typewriter">
        </div>
    </div>
    <div class="articles">
        <div class="article-description">
            <h1 id="featured-articles">Featured Articles</h1>
        </div>
        <% for(i = data.allBlogs.length-1; i >= 0; i--){ %>
        <div class="article" id="article1">
            <div class="right1">
                <img class="article-image" src="/images/article.png" alt="">
            </div>
            <div class="left1">
                <h1 class="blog-topic"><a href="#"><%= data.allBlogs[i].title %></a></h1>
                <p><%= data.allBlogs[i].content %></p>
                <div class="article-bottom">
                    <span id="name">Author Name - <%= data.allBlogs[i].name %></span>
                    <span id="date">Date : <%= data.allBlogs[i].time %></span>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <script src="/javascripts/index.js"></script>
</body>
</html>